<p style="color: green"><%= notice %></p>

<%= render @picture %>

<div>
  <%= link_to "Editer photos", edit_picture_path(@picture) %> |
  <%= link_to "Retour aux photos ", pictures_path %>

  <%= button_to "Supprimer photos", @picture, method: :delete %>
</div>
